<br />
<div class="uk-flex uk-flex-center">
  <div></div>
  <div class="uk-card uk-card-default uk-card-hover uk-card-body">
  <ul uk-tab>
    <li class="uk-active"><a href="#"><h3 class="uk-margin-remove">Reset password</h3></a></li>
  </ul>
    <% if @has_token %>
      <%= form_with model: @user, url: reset_password_path, method: :patch, local: true do |f| %>
        <%= f.hidden_field :email, value: @user.email %>
        <%= f.hidden_field :token, value: @token %>
        <div class="uk-margin">
          <div><b>Password</b></div>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <%= f.password_field :password, class: "uk-input" %>
            <%= render "shared/error_messages", errors: @user.errors[:password], attribute: :password %>
          </div>
        </div>
        <div class="uk-margin">
          <div><b>Password confirmation</b></div>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: lock"></span>
            <%= f.password_field :password_confirmation, class: "uk-input" %>
            <%= render "shared/error_messages", errors: @user.errors[:password_confirmation], attribute: "Password confirmation" %>
          </div>
        </div>
        <p uk-margin>
          <%= f.submit class: "uk-button uk-button-primary" %>
        </p>
      <% end %>
    <% else %>
      <%= form_with url: reset_password_path, method: :patch, local: true do |f| %>
        <div class="uk-margin">
          <div>Email: </div>
          <div class="uk-inline">
            <span class="uk-form-icon" uk-icon="icon: mail"></span>
            <%= f.text_field :email, class: "uk-input", required: true %>
          </div>
        </div>
        <p uk-margin class="uk-flex">
          <%= f.submit class: "uk-button uk-button-primary uk-align-center uk-margin-auto-bottom" %>
        </p>
      <% end %>
    <% end %>
</div>
<div></div>
</div>
