<%= form_with model: model, local: true do |f| %>
  <div class="uk-margin">
    <div><b>Name</b></div>
    <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: user"></span>
      <%= f.text_field :name, class: "uk-input" %>
    </div>
  </div>
  <%= render "shared/error_messages", errors: model.errors[:name], attribute: :name %>
  <div class="uk-margin">
    <div><b>Email</b></div>
    <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: mail"></span>
      <%= f.text_field :email, class: "uk-input" %>
    </div>
  </div>
  <%= render "shared/error_messages", errors: model.errors[:email], attribute: :email %>
  <div class="uk-margin">
    <div><b>Password</b></div>
    <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: lock"></span>
      <%= f.password_field :password, class: "uk-input" %>
    </div>
  </div>
  <%= render "shared/error_messages", errors: model.errors[:password], attribute: :password %>
  <div class="uk-margin">
    <div><b>Password confirmation</b></div>
    <div class="uk-inline">
      <span class="uk-form-icon" uk-icon="icon: lock"></span>
        <%= f.password_field :password_confirmation, class: "uk-input" %>
    </div>
  </div>
  <%= render "shared/error_messages", errors: model.errors[:password_confirmation], attribute: "Password confirmation" %>
  <p uk-margin>
    <%= f.submit class: "uk-button uk-button-primary uk-align-center uk-margin-auto-bottom" %>
  </p>
<% end %>
