<!DOCTYPE html>
<html>
  <head>
    <title>DatBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.19/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.6.19/dist/js/uikit-icons.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.2/min/dropzone.min.css" />
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_pack_tag "application" %>
  </head>

  <body>
    <%= render "layouts/header" %>
    <div class="uk-container uk-container-large">
      <%= yield %>
    </div>
    <%= render "layouts/footer" %>
    <script>
      <% if flash[:success].present? %>
        UIkit.notification({message: "<span uk-icon=\"icon: check\"></span> <%= flash[:success] %>",
          pos: "top-right", status:"success"})
      <% end %>
      <% if flash[:danger].present? %>
        UIkit.notification({message: "<span uk-icon=\"icon: close\"></span> <%= flash[:danger] %>",
          pos: "top-right", status:"danger"})
      <% end %>
    </script>
  </body>
</html>
